* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(196, 153, 12, 0.7);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(134, 111, 9);
  height: 70px;
}

.image {
  margin-right: 30px;
}

.image-logo {
  height: 100px;
}
